body {
background-color: #FFF;
}


h1 {
	margin: 0px 20px 0px 0px;
	text-align: left; 
	font-size: 50px;
}

h2 {
	text-align: left;
	font-size: 55px;
	margin: 0px 10px 0px 0px;
	font-family: 'Slackey', serif;
	color: #B60000;
}

h3 {
	margin: 0px;
}


#splash {
	text-align:center;
	font-size: 250px;
}

#dash-logo {
	float: left;
}

#jigi-logo {
	font-family: 'Reenie Beanie', serif;
  font-style: none;
  font-weight: bold;
  text-shadow: none;
  text-decoration: none;
  text-transform: none;
  letter-spacing: 0em;
  word-spacing: 0em;
  line-height: 1.2;
  color: #B60000;
}

#mojo-logo {
	font-family: 'Slackey', serif;
  font-style: none;
  font-weight: 400;
  text-shadow: 4px 4px 4px #666;
  text-decoration: none;
  text-transform: none;
  letter-spacing: 0em;
  word-spacing: 0em;
  line-height: 1.2;
  color: #000;
}

#splash #mojo-logo {
  text-shadow: 20px 20px 20px #666;
}

a.dashboard_link {
	font-family: 'Slackey', serif;
	font-size: 16px;
	color: #C00;
	text-decoration: none;
	font-weight: 400;
	margin: 0px 20px 0px 10px;
}

a.dashboard_link:visited {
	color: #922;
}

a.dashboard_link:hover {
	color: #F66; 
	text-decoration: underline;
}

hr.dashboard {
	height: 5px;
	color: #C00;
	background-color: #000;
}

hr.dashboard#lower {
	margin-bottom: 15px;
}



.your_venues {
	float:left;
}

.all_venues {
	float:right;
}
