<!DOCTYPE html>
<html>
<head>
  <title>Jigimojo</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <link href='http://fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Luckiest+Guy' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
